<div class="container-fluid customer-container">
  <h3>Create a new term</h3>
  <p>Enter data, and click/tap the Save button</p>
  <form (ngSubmit)='onTermSave()'
        #f='ngForm'>


    <!-- TODO: Reomve later -->
    <p class="lead"><code>{{ newTerm | json }}</code></p>
    <p class="lead"><code>{{ termResult | json }}</code></p>

    <!-- ------------------------------------------------------------ -->
    <!-- -----------------Author Name Input------------------ -->
    <!-- ------------------------------------------------------------ -->
    <div class="form-group">
      <label class="control-label"
             for="author">Author Name:</label>
      <input class="form-control"
             id="author"
             name="author"
             [(ngModel)]="newTerm.authorName"
             #authorName="ngModel"
             required
             autofocus>

    </div>

    <!-- Validation error area -->
    <!-- If field is empty after submission -->
    <div *ngIf="f.submitted && authorName.invalid"
         class='alert alert-danger'>
      <div *ngIf="authorName.errors.required">Name required</div>
    </div>

    <!-- ------------------------------------------------------------ -->
    <!-- -----------------Term Input------------------ -->
    <!-- ------------------------------------------------------------ -->
    <div class="form-group">
      <label class="control-label"
             for="term">Term</label>
      <input class="form-control"
             id="term"
             name="term"
             type="text"
             [(ngModel)]="newTerm.wordEnglish"
             #term="ngModel"
             appExistingTerm
             required>
    </div>

    <!-- Validation error area -->
    <!-- If existing term is found -->
    <div *ngIf='term.errors?.existingTermFound '
         class='alert alert-danger'>
      <!-- The code below is situation-dependent - think before coding -->
      <div *ngIf='term.errors.existingTermFound'>Term already exists!</div>
    </div>
    <!-- If field is empty after submission -->
    <div *ngIf="f.submitted && term.invalid"
         class='alert alert-danger'>
      <div *ngIf="term.errors.required">Term required</div>
    </div>

    <!-- ------------------------------------------------------------ -->
    <!-- -----------------Expansion Input------------------ -->
    <!-- ------------------------------------------------------------ -->
    <div class="form-group">
      <label class="control-label"
             for="expanded">Expansion</label>
      <input class="form-control"
             id="expanded"
             name="expanded"
             [(ngModel)]="newTerm.wordExpanded">
    </div>

    <!-- ------------------------------------------------------------ -->
    <!-- -----------------Definition Input------------------ -->
    <!-- ------------------------------------------------------------ -->
    <div class="form-group">
      <label class="control-label"
             for="definition">Definition</label>
      <textarea class="form-control"
                id="definition"
                name="definition"
                [(ngModel)]="newTerm.definition"
                #definition="ngModel"
                required></textarea>
    </div>

    <!-- Validation error area -->
    <!-- If field is empty after submission -->
    <div *ngIf="f.submitted && definition.invalid"
         class='alert alert-danger'>
      <div *ngIf="definition.errors.required">Definition required</div>
    </div>



    <!-- ------------------------------------------------------------ -->
    <!-- -----------------Authoritative Link Input------------------ -->
    <!-- ------------------------------------------------------------ -->
    <div class="form-group">
      <label class="control-label"
             for="link-authoritative">Authoritative Link</label>
      <input class="form-control"
             id="link-authoritative"
             name="link-authoritative"
             [(ngModel)]="newTerm.linkAuthoritative"
             pattern="(http|https)://[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:/~+#()_-]*[\w@?^=%&amp;/~+#()_-])?">
    </div>

    <!-- ------------------------------------------------------------ -->
    <!-- -----------------Wiki Link Input------------------ -->
    <!-- ------------------------------------------------------------ -->
    <div class="form-group">
      <label class="control-label"
             for="link-wiki">Wiki Link</label>
      <input class="form-control"
             id="link-wiki"
             name="link-wiki"
             [(ngModel)]="newTerm.linkWikipedia"
             pattern="(http|https)://[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:/~+#()_-]*[\w@?^=%&amp;/~+#()_-])?">
    </div>

    <!-- ------------------------------------------------------------ -->
    <!-- -----------------Youtube Link Input------------------ -->
    <!-- ------------------------------------------------------------ -->
    <div class="form-group">
      <label class="control-label"
             for="link-youtube">YouTube Link</label>
      <input class="form-control"
             id="link-youtube"
             name="link-youtube"
             [(ngModel)]="newTerm.linkYoutube"
             pattern="(http|https)://[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:/~+#()_-]*[\w@?^=%&amp;/~+#()_-])?">
    </div>

    <!-- ------------------------------------------------------------ -->
    <!-- -----------------Submit Button------------------ -->
    <!-- ------------------------------------------------------------ -->
    <button class="btn btn-primary"
            type="submit">Save</button>&nbsp;
    <a routerLink="/terms"
       class="btn btn-default">Back to list</a>

  </form>
</div>
