dd,
dt {
  padding-top: 3px;
  padding-bottom: 3px;
}

.top-lg {
  margin-top: 12px;
}

.link-button,
.help-button {
  margin-bottom: 6px;
  margin-right: 8px;
}

/* Validation CSS */

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
.btn-mrg-right {
  margin-right: 6px;
}

textarea#definition {
  width: 100%;
  padding: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;
}
